@import "_header";

.class-test {
  &__title {
    font-size: 34px;
    margin: 2px 12px 25px 12px;
    letter-spacing: normal;
    padding: 20px;
  }

  &__text {
    font-size: 14px;
  }
}

.red {
  color: rgb(170, 21, 21);
}
